
body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}
body > header {
	padding: 10px;
	background: white;
}
header b,
header h1 {
	display: inline;
	padding: 3px;
	font-weight: normal;
}
header b {
	font-size: 1.3em;
}
nav {
	font-size: 1.3em;
	margin-top: 0.5em;
	margin-bottom: 2em;
}

article {
	display: inline-block;
	width: 256px;
	height: 256px;
	margin: 1em;
	
	transition: opacity 5s ease-in-out, -webkit-transform 5s ease-in-out, -moz-transform 5s ease-in-out;
	box-shadow: 0 0 0 5px black;
	vertical-align: top;
}
article > img,
article > a {
	display: block;
	width: 100%;
	height: 100%;
}
article {
	position: relative;
}
article header,
article footer {
	position: absolute;
	left: 0;
	right: 0;
	padding: 5px;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	text-shadow: 0 2px 5px black;
}
article header *,
article footer * {
	color: white;
	text-decoration: none;
}
article header {
	top: 0;
	font-size: 1.2em;
}
article footer {
	bottom: 0;
	font-size: 1.0em;
	text-shadow: 0 2px 5px black, 0 0 15px black;
}

/* repo icon link */
article .repo {
	float: right;
	transition: opacity 0.2s ease-in-out;
	opacity: 0.3;
}
article .repo:hover,
article .repo:active,
article .repo:focus {
	opacity: 1;
}

/* selection color */
::selection {
	background: #FAFC82; /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: #FAFC82; /* Gecko Browsers */
}
