
body {
	margin: 0;
}
.textual-page-content{
	padding: 1em 0.5em;
}
@media (min-width: 700px) {
	.textual-page-content{
		padding: 2em;
	}
}

.principle {
	text-align: center;
}
.principle.big {
	font-size: 10vmin;
	margin: 0;
	padding: 1em;
	text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}
.principle.big .word {
	display: block;
}
@media (max-width: 700px) {
	.principle:not(.big),
	.principle.big { /* specificity hacks */
		font-size: 10vmin;
	}
	.principle .word {
		display: block;
	}
}
.principle.big.on-manifesto-page {
	background: #87ceeb;
	color: #4e321d;
	text-shadow: none;
	line-height: 1.5;
}

.multi-medium-input {
	background: white;
	color: #444;
	font-family: sans-serif;
	max-width: 70em;
	margin: 0 auto;
	height: 150px;
	position: fixed;
	z-index: 2;
	left: 0;
	right: 0;
	bottom: 0;
	margin-bottom: 0.4cm;
	box-shadow: 0 0 50px #fff;
	border: 1px dashed rgba(0, 0, 0, 0.5);
	border-radius: 8px;
}
.multi-medium-word:focus {
	outline: none;
	border-radius: 3px;
	box-shadow: 0 0 2px 3px #FFFFFF, 0 0 4px 5px #FFC7C7, 0 0 100px 5px #FF77BB;
	z-index: 1;
}
.multi-medium-word {
	text-shadow: none;
}
